* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(177, 176, 174);
}

h1 {
    color: aliceblue;
}

#area-logo {
    padding: 5px;
}

#area-cabecalho {
  background-color: rgb(65, 62, 62);  
  padding: 15px;
}

#area-menu {
    text-align: right;
    margin-right: 50px;
    
}

/* Formatação Menu*/
a {
    text-decoration: none;
    padding: 5px;
}

a:link, a:visited {
    color:white;

}

a:hover {
    color: rgb(65, 62, 62);
    background: white;
}





